<div class="animated" fadeIn>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>User Info</strong>
        </div>
        <div class="card-body">
          <div>
            <p>Firstname: <b>{{user.firstname}}</b></p>
            <p>Lastname: <b>{{user.lastname}}</b></p>
            <p>Email: <b>{{user.email}}</b></p>
            <p>Password: <b>{{user.password}}</b></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





